@import "Variables";

.blog {
}

.blog h2 {
  margin-bottom: 150px;
}
.blog__inner {
}
.blog__slider {
  padding-bottom: 80px;
}
.blog__slider .swiper-scrollbar {
  bottom: 0;
  height: 15px;
  background: linear-gradient(180deg, #4d4d4d 0%, rgba(77, 77, 77, 0) 100%);
  z-index: 1;
  border-radius: 0;
}
.blog__slider .swiper-scrollbar-drag {
  background: linear-gradient(180deg, #ea6200 0%, rgba(234, 98, 0, 0) 100%);
  border-radius: 0;
}

.blog__slide {
  padding: 30px;
  aspect-ratio: 483/350;
  background-position: center center;
  background-size: cover;
}

.swiper-slide:nth-child(1) .blog__slide{
  background-image: url(../images/article-hero-1.png);
}

.swiper-slide:nth-child(2) .blog__slide{
  background-image: url(../images/article-hero-2.png);
}

.swiper-slide:nth-child(3) .blog__slide{
  background-image: url(../images/article-hero-3.png);
}

.swiper-slide:nth-child(4) .blog__slide{
  background-image: url(../images/article-hero-4.png);
}

.swiper-slide:nth-child(5) .blog__slide{
  background-image: url(../images/article-hero-5.png);
}

.swiper-slide:nth-child(6) .blog__slide{
  background-image: url(../images/article-hero-6.png);
}

.blog__slide-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.7);
  padding: 20px;
  border-radius: 15px;
}

.blog__slide-content h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 0px 0px 15px rgba(0,0,0,1);
}

.blog__slide-content p {
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
}

.blog__slide-link {
  margin-top: auto;
  margin-left: auto;
  position: relative;
  font-size: 20px;
  padding-right: 70px;
  transition: all 0.3s;
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.blog__slide-link::after {
  content: url(../images/arrow_right_small.svg);
  position: absolute;
  right: 15px;
  top: 2px;
  max-height: 16px;
  transition: all 0.3s;
}

.blog__slide-link:hover {
  color: $orange;
  &::after {
    filter: invert(50%) sepia(98%) saturate(2775%) hue-rotate(-16deg)
      brightness(100%) contrast(101%);
  }
}

.blog__bottom {
  margin-top: 20px;
  text-align: right;
}

@media (max-width: 1080px) {
  .blog__slide-content h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .blog__slide {
    margin: 0 auto;
  }
  .blog h2 {
    margin-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .blog h2 {
    margin-bottom: 50px;
  }
  .blog__slide-content h3 {
    font-size: 20px;
  }
  .blog__slide-content p {
    font-size: 14px;
    -webkit-line-clamp: 2;
  }
}
