@import "Variables";

.hero__inner {
  background-image: url(../images/hero.png);
  text-align: right;
  color: $text-color;
  background-position: -6% 3%;
  background-repeat: no-repeat;
  background-size: 69%;
  padding-top: 95px;
  padding-bottom: 160px;
}

.hero__inner h1 {
  font-family: "Unbounded", sans-serif;
  font-size: clamp(20px, 5vw, 55px);
  margin-bottom: 85px;
  max-width: min(580px, 65%);
  margin-left: auto;
}
.hero__inner p {
  line-height: 32px;
  max-width: 385px;
  margin-left: auto;
  margin-bottom: 98px;
}

@media (max-width: 768px) {
  .hero__inner {
    background-size: 70%;
  }
  .hero__inner p {
    margin-bottom: 70px;
  }
}
@media (max-width: 425px) {
  .hero__inner {
    background-size: 100%;
    padding-top: 0px;
    margin-top: 50px;
    background-position: -6% 10%;
  }
  .hero__inner h1 {
    margin-bottom: 250px;
  }
  .hero__inner p {
    margin-left: 0;
    text-align: left;
    margin-bottom: 40px;
    max-width: 240px;
    text-wrap: balance;
  }
}
