@import "Variables";

.hero {
}
.hero__inner {
  background-image: url(../images/hero2.png);
  text-align: right;
  color: $text-color;
  background-position: -6% 3%;
  background-repeat: no-repeat;
  background-size: 69%;
  min-height: min(742px, calc(100vw / 1.9));
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: max(300px, min(660px, calc(100vh - 150px)));
}
.hero__inner h1 {
  font-family: "Unbounded", sans-serif;
  font-size: clamp(20px, 5vw, 55px);
  max-width: min(580px, 65%);
  margin-left: auto;
}
.hero__inner p {
  line-height: 32px;
  max-width: 385px;
  margin-left: auto;
}

.hero__inner .btn {
  margin-left: auto;
}

@media (max-width: 1000px) {
  .hero {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .hero__inner {
    background-size: 70%;
    padding-bottom: 0px;
  }
  .hero__inner p {
    margin-bottom: 70px;
  }
}
@media (max-width: 430px) {
  .hero__content {
    justify-content: space-between;
  }
  .hero__inner {
    background-size: 100%;
    padding-top: 20px;
    background-position: -6% 10%;
  }
  .hero__inner h1 {
  }
  .hero__inner p {
    margin-top: auto;
    margin-left: 0;
    text-align: left;
    margin-bottom: 40px;
    max-width: 100%;
    text-wrap: balance;
  }
  .hero__inner .btn {
    margin-bottom: 50px;
  }
}
