@import "Variables";

.notfound {
}

.notfound__inner {
}
.text-404 {
  font-family: "Unbounded", sans-serif;
  font-size: clamp(20px, 27vw, 333px);
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(172deg, #ea6200 5.92%, #070707 74.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.notfound__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 100px;
}

.notfound__bottom p {
  margin: 0px auto;
  transform: translateX(50%);
}
@media (max-width: 520px) {
  .notfound__bottom p {
    transform: translateX(0%);
  }
  .notfound__bottom {
    gap: 40px;
  }
}
