@import "Variables";

.portfolio {
}
.portfolio__inner {
}
.portfolio__slider {
  margin-top: 70px;
  padding-bottom: 88px;
}

.portfolio__slider .swiper-pagination {
  top: auto;
  bottom: 0;
}
.portfolio__slide {
  background-image: url(../images/site-screenshot-1.jpg);
  background-repeat: no-repeat;
  max-width: 620px;
  aspect-ratio: 620/380;
  padding: 15px;
  transition: all 0.3s;
}

.portfolio__slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  opacity: 0;
  transition: all 0.3s;
}
.portfolio__slide:hover .portfolio__slide-content {
  backdrop-filter: blur(5px);
  opacity: 1;
}

.portfolio__slide-content h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
}

.portfolio__slide-content p {
  font-size: 16px;
  font-weight: 400;
}

.portfolio__slide-link {
  margin-top: auto;
  margin-left: auto;
  position: relative;
  font-size: 20px;
  padding-right: 70px;
  transition: all 0.3s;
}

.portfolio__slide-link::after {
  content: url(../images/arrow_right_small.svg);
  position: absolute;
  right: 15px;
  top: 2px;
  max-height: 16px;
  transition: all 0.3s;
}

.portfolio__slide-link:hover {
  color: $orange;
  &::after {
    filter: invert(50%) sepia(98%) saturate(2775%) hue-rotate(-16deg)
      brightness(100%) contrast(101%);
  }
}

.portfolio__slider .swiper-pagination-bullet {
  width: 33px;
  height: 33px;
  background-color: $light-bg;
  margin: 10px !important;
  opacity: 1;
}
.portfolio__slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $orange;
}

.portfolio__bottom {
  text-align: right;
}

@media (max-width: 900px) {
  .portfolio__slider {
    margin-top: 40px;
    padding-bottom: 60px;
  }
  .portfolio__slide {
    margin: 0 auto;
    background-size: contain;
  }
  .portfolio__slide-content h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .portfolio__slide-content p {
    font-size: 14px;
    font-weight: 400;
  }
  .portfolio__slide-content .btn {
    padding: 7px 60px 6px 20px;
  }
  .portfolio__slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 425px) {
  .portfolio__slide {
    padding: 10px;
  }
  .portfolio__slide-content {
    padding: 10px;
  }
  .portfolio__slide-content p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
